<!doctype html>
	
<html lang="pt-br">
	
<head>
	<title>Bioinfo Online</title>
	<meta charset="utf-8" />
	<meta name="description" content="" /> 
	<meta name="keywords" content="" /> 
	<meta name="author" content="Renato Garcia Pedigoni" />
	<!--[if IE]><script src="js/html5.js"></script><![endif]--> 
	<!--[if IE 7]><script src="js/IE8.js"></script><![endif]-->
	<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" />
	<script src="js/jquery-1.4.2.min.js" type="text/javascript"></script>
	<script src="js/html5-hacks.js" type="text/javascript"></script>
	<!--[if IE 6]>
      <script src="js/utils/ie6.png.fix.js" type="text/javascript"></script>
      <script src="js/utils/ie6.flicker.fix.js" type="text/javascript"></script>
      <script src="js/utils/png.fix.elements.js" type="text/javascript"></script>
    <![endif]-->
</head>

<body>
	<header id="page-top">
		<h1 class="logo"></h1>

		<section id="logged-in-user">			
			<hgroup>
				<h1>Welcome back, <span>Renato</span></h1>
				<h2>Last login yesterday</h2>
			</hgroup>
			<a href="#" class="sign-out">Sign out</a>
			<ul class="links">
				<li><a href="#">Preferences</a></li>
				<li class="has-sep"><a href="#">Change password</a></li>
			</ul>
		</section>
	</header>

	<section id="current-course">
		<section class="course-id">
			Active course: <h2>IBM1024</h2>
		</section>
		<h2 class="course-name">Genética Molecular de Populações</h2>
		<h3 class="professor-name">Prof. Dr. Wilson Araujo Jr</h3>
	</section>

	<nav id="course-menu" class="hor-menu">
		<ul>
			<li><a href="#">Course dashboard</a></li>
			<li><a href="#">Genome annotation</a></li>
			<li><a href="#">Statistics</a></li>
		</ul>
	</nav>

	<footer id="page-bottom">
		<img src="img/sponsors.jpg" alt="Sponsors" />
	</footer>
</body>
</html>