{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans "Change password" %}{% endblock %}

{% block breadcrumbs %}
	<nav class="breadcrumbs">
		<a href="{% url home %}">{% trans "Home" %}</a> &rsaquo; 
		{% trans "Change password" %}
	</nav>
{% endblock %}

{% block content %}
	<header>
		<h1>{% trans "Change password" %}</h1>
	</header>
	
	<p>
		{% trans "Fill the form below to change your password." %}
	</p>
	
	<form action="{% url change_password %}" class="default-ul-form" method="post" accept-charset="utf-8">
		{% csrf_token %}		
		{% include "forms/errors.html" %}
		
		<ul>
			{% include "forms/form.html" %}
		</ul>


		<p><input type="submit" value="Continue &rarr;"></p>
	</form>
{% endblock content %}