{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}{% trans "Password changed" %}{% endblock %}
{% block breadcrumbs %}
	<nav class="breadcrumbs">
		<a href="{% url home %}">{% trans "Home" %}</a> &rsaquo; {% trans "Change password" %}
	</nav>
{% endblock %}
{% block content %}
	<header>
		<h1>{% trans "Password changed" %}</h1>
	</header>

	<p>{% trans "Your password was changed. The password will take effect for your email at the next login. " %}</p>

	</form>
{% endblock content %}