<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Página inicial | BioInfo Online</title>
		<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" />
	</head>
	
	<body id="index">
		<div id="top-bar"></div>
		
		<div id="wrapper">
			<!-- header -->
			<div id="header">
				<div id="logo" class="l"></div>
								
				<!-- login -->
				<div id="login-box" class="header-box r">
					<h2>Login</h2>
					<form action="?" method="post" accept-charset="utf-8">
						<fieldset class="default-form">
							<ul>					
								<li><label for="id-login-username">Usuário</label> <input type="text" name="user" id="id-login-username" 	/></li>
								<li><label for="id-login-password">Senha</label> <input type="password" name="password" id="id-login-password" /></li>
							</ul>
						</fieldset>
						<p><input type="submit" value="Entrar &rarr;" /></p>
					</form>
				</div>
				<!-- /login -->
				
				<!-- register -->
				<div id="register-box" class="header-box r">
					<h2>Primeiro acesso</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
					</p>
				</div>
				<!-- /register -->

				
			</div>
			<!-- /header -->
			
			<!-- content -->
			<div id="content">
				<div class="main">
					<h1>Título do conteúdo</h1>
					<img src="img/dna.png" alt="BioInfo Online" class="r" />
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</div>
			</div>
			<!-- /content -->
			
			<!-- footer -->
			<div id="footer">
				<img src="img/bottom.gif" alt="Patrocinadores" />
			</div>
			<!-- /footer -->
			
			<div id="push"></div>
		</div>
		
		<div id="bottom-bar">
			<p>Teste</p>
		</div>
	</body>

</html>